@import 'fonts';
@import 'bulmaCustomizations';

.table-admin {
  thead {
    th:first-of-type {
      width: 50px;
    }
    th:last-of-type {
      width: 100px;
    }
  }
  tbody {
    tr {
      td:first-of-type {
        text-align: right;
      }
      td:last-of-type {
        text-align: center;
      }
    }
  }
}
